@model Unipam.TCC.DAL.Entity.Projeto

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.IdPessoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.IdPessoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaProjeto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
