@model Unipam.TCC.DAL.Entity.Projeto

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.IdPessoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.IdPessoa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaProjeto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProjeto }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
