@model Unipam.TCC.DAL.Entity.Entrega

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Entrega</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Etapa.IdEtapa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etapa.IdEtapa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Projeto.NomeProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projeto.NomeProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdEntrega }) |
    @Html.ActionLink("Voltar para a lista", "Index")
</p>
