@model Unipam.TCC.DAL.Entity.SituacaoProjeto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SituacaoProjeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projeto.NomeProjeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Projeto.NomeProjeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAlteracao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
