@model IEnumerable<Unipam.TCC.DAL.Entity.TipoEntrega>

@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdTipoEntrega }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdTipoEntrega }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.IdTipoEntrega })
        </td>
    </tr>
}

</table>
